header {
    margin: 0px 190px;
}

a {
    display: inline-block;
    color: #666d75;
    text-decoration: none;
    outline: none;
} 
a:active, a:visited {
    text-decoration: none;
}

#first_header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

#searchLogin {
    display: flex;
    align-items: center;
}

#logoAndSearch {
    display: flex;
    align-items: center;
}

#logo {
    width: 128px;
    height: 28px;
}

#search {
    width: 320px;
    height: 48px;
    margin-left: 20px;
    padding-left : 20px;
    background: rgb(245,246,247);
    border: none;
    font-size : 15px;
    font-weight: 500;
    text-align : left;
    border-radius: 4px;
    background-image: url(./images/ic_search.svg);
    background-repeat:no-repeat;
    top : 10px;
    left : 10px;
}



#login {
    display: flex;
    justify-content: space-between;
}

#signup {
    border: 1px solid #a7d4f9;
}

#signup div{
    color: #2B96D6; 
}

#login #signup:hover {
    background-color: #F5FBFF;
}

#login a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    padding-left: 32px;
    padding-right: 32px;
    color: #666d75;
}
#login a:hover {
    background-color: #F5F6F7;
}

