@import url(reset.css);

* {
	box-sizing: border-box;
}

.container {
    width: 100%;
    height: 450px;
    background-image: url(media/sky.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapper {
    width: 65%;
    margin: 0 auto;
}

.navbar {
    line-height: 65px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#logo {
    vertical-align: middle;
    line-height: 100%;
}

.search-box {
    display: inline-block;
    margin-left: 15px;
    transform: translate(0%, 35%);
    height: 40px;
    background-color: #fff;
    border: 1px solid #5193e3;
    border-radius: 30px;
    transition: 0.4s;
    width: 40px;
}

.search-box:hover {
    box-shadow: 0px 0px .5px 1px #5193e3;
    width: 300px;
}

.search-btn {
    text-decoration: none;
    float: right;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5193e3;
}

.search-box:hover > .search-btn {
    background-color: #fff;
}

.search-txt {
    display: flex;
    padding: 0px;
    width: 0px;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 40px;
    transition: .4s;
}

.search-box:hover > .search-txt {
    width: 250px;
    padding: 0px;
}

#menu {
    float: right;
}

#menu li {
    list-style: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu #join a {
    border: 2px solid white;
    padding: 5px 10px;
}

#menu li a:hover {
    border: 2px solid white;
    padding: 5px 10px;
}

.mini-nav {
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#mini-menu li {
    list-style: none;
    float: left;
}

#mini-menu li a {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

#mini-menu li:first-child {
    padding-right: 2%;
}

#mini-menu li:not(:first-child) {
    padding-left: 2%;
    padding-right: 2%;
}

#mini-menu li a:hover {
    padding-bottom: 20px;
    border-bottom: 4px solid white;
}

#mini-menu li #current-page {
    padding-bottom: 20px;
    border-bottom: 4px solid white;
}

hr {
    border-width: 1px 0px 0px 0px;
    margin: 0px;
}

/* 티켓메뉴 */
.ticket-menu {
    margin-top: 50px;
    height: 30px;
}

.ticket-menu #way li a {
    color: rgb(215, 215, 220);
    text-decoration: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.ticket-menu #way li a:hover {
    color: white
}

.ticket-menu #reservation li a {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 20px;
}

#way li #shuttle {
    color: white;
    padding-bottom: 15px;
    border-bottom: 4px solid white;
}

/* 항공권 예매 부분 */
.input {
    margin-top: 45px;
    margin-bottom: 15px;
    height: 50px;
}

input:focus {
    outline:none;
}

.country {
    width: 422px;
    height: 48px;
    float: left;
}

#start {
    vertical-align: middle;
    height: 48px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding-left: 14px;
    width: 195px;
    border: none;
    line-height: 48px;
}

#start::placeholder {
    color: black;
}

#btn {
    cursor: pointer;
    vertical-align: middle;
    border: none;
    display: inline-block;
    width: 32px;
    height: 48px;
    background: url(media/switch.png) no-repeat center #f1f3f5;
    background-size: 24px;
    font-size: 0;
    float: left;

}

#arrive {
    vertical-align: middle;
    height: 48px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding-left: 14px;
    width: 195px;
    border: none;
    line-height: 48px;
}

.cal {
    float: left;
}

#day {
    height: 48px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 45px;
    width: 270px;
    border: none;
    line-height: 48px;
    margin-left: 10px;
    cursor: pointer;

    background-color: white;
    background-image: url(media/cal.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
}

#people {
    height: 48px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 45px;
    width: 230px;
    border: none;
    line-height: 48px;
    margin-left: 10px;
    cursor: pointer;

    background-color: white;
    background-image: url(media/person.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
}

#people::placeholder {
    color: black;
}

#search-btn {    
    display: inline-block;
    width: 70px;
    height: 48px;
    line-height: 48px;
    color: white;
    background-color: #51abf3;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 8px;
}

/* 체크박스 */
.check {
    display: inline-block;
}

.cb {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.info {
    display: inline-block;
    margin-left: 14px;
    height: 15px;
    border-left: 1px solid black;
}

.info a {
    padding-left: 15px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

/* box-slider */
.box {
    margin-top: 70px;
    margin-bottom: 140px;
}

.box a {
    text-decoration: none;
    color: gray;
}

.slider #left{
    float: left;
    width: 49%;
    height: 150px;
}

.slider #right {
    float: right;
    width: 49%;
    height: 150px
}

/* 화살표 위치 css */
.bx-wrapper {
    position: relative;
}

.left {
    position: absolute;
    top: 60%;
    left: 14%;
}

.right {
    position: absolute;
    top: 60%;
    right: 14%;
}
/* 여기까지 */

.recommend {
    height: 400px;
    margin-bottom: 30px;
}

.product {
	width: 252px;
	float: left;
	display: block;
	margin-right: 20px;
    border: 1px solid rgb(205, 200, 200);
}

.product a {
    text-decoration: none;
    color: black;
}

.explain {
    padding-left: 10px;
    padding-right: 10px;
}

#blue-text {
    float: right;
    color: blue;
    font-weight: 400;
}

.notice {
    margin-bottom: 100px;
}

#more {
    float: right;
    font-weight: 400;
    font-size: small;
    line-height: 33px;
}

#more a {
    text-decoration: none;
    color: grey;
}

.notice li:hover {
    background-color: rgb(243, 239, 239);
}

.notice li a {
    text-decoration: none;
    color: black;
    line-height: 50px;
}

#date {
    float: right;
    color: grey;
}

.footer {
    height: 250px;
    float: left;
}   

.team { 
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

.team li {
    padding-bottom: 15px;
    font-weight: bold;
}

.team .role {
    color: rgb(97, 96, 96);
}