.carousel_2_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .slider_2 {
    width: 100%;
    height: 280px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .slide_2 {
    width: 100%;
    height: 280px;
    position: absolute;
    transition: all 0.5s;
    border-radius: 15px;
  }
  
  .slide_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn_2 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .btn_2:active {
    transform: scale(1.1);
  }
  .btn-prev_2 {
    top: 45%;
    left: 2%;
  }
  
  .btn-next_2 {
    top: 45%;
    right: 2%;
  }
  