nav {
    width: 60%;
    padding: 0px 19.5% 20px 19.5%;
    border-bottom: 1px solid #dee2e6;
}

a {
    display: inline-block;
    color: #666d75;
    text-decoration: none;
    outline: none;
} 
a:active, a:visited {
    text-decoration: none;
}

#first_header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

#searchLogin {
    display: flex;
    align-items: center;
}

#logoAndSearch {
    display: flex;
    align-items: center;
}

#logo {
    width: 128px;
    height: 28px;
}

#search {
    width: 320px;
    height: 48px;
    margin-left: 20px;
    padding-left : 40px;
    background: rgb(245,246,247);
    border: none;
    font-size : 15px;
    font-weight: 500;
    text-align : left;
    border-radius: 4px;
    background-image: url(../images/ic_search.svg);
    background-repeat:no-repeat;
    background-position: 10px;
    
}

#search:focus{
    border: 0px;
    outline: 0px;
    touch-action: manipulation;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #F3F3F4, 0 0 0px 0px ;
  outline: none; 
}



#login {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#signup {
    border: 1px solid #a7d4f9;
}

#signup div{
    color: #2B96D6; 
}

#login #signup:hover {
    position: relative;
    background-color: #F5FBFF;
}

#login a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    padding-left: 32px;
    padding-right: 32px;
    color: #666d75;
    user-select: none;
    cursor: pointer;
}
#login a:hover {
    background-color: #F5F6F7;
}

/* 로그인이 되었을 시 */

#login img {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: border-color 0.2s ease 0s;
    overflow: hidden;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin-left: 14px;
}

#login img:hover {
    border-color: rgb(233, 236, 239);
    display: inline-block;
}

#profile_popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 30000;
    width: 230px;
    border: 1px solid rgb(233, 236, 239);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px 0px;
    border-radius: 1px;
    z-index: 1;
}

.popup_rows {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(233, 236, 239);
}

.popup_rows p {
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    user-select: none;
}

#popup_first_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 16px;
}

#popup_first_row .name {
    font-size: 17px;
    font-weight: 600;
    color: rgb(73, 80, 86);
    line-height: 25px;
    margin-bottom: 4px;
    user-select:none;
    cursor: pointer;
}

#popup_first_row .profile_manage {
    font-size: 14px;
    font-weight: 500;
    color: rgb(43, 150, 237);
    line-height: 21px;
    transition: color 0.2s ease 0s;
    user-select:none;
    cursor: pointer;
}